.input {
    height: 44px;
}

.textarea {
    height: auto;
}

.wrapper {
    position: relative;
}

.counter {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    color: green
}

.root {
    height: 100%;
    font-size: 17px !important;
    line-height: 24px !important;
    font-weight: 400 !important;
    border: 1px solid white !important;
    border-radius: 8px;
    background-color: white;

}

.root:hover {
    border: 1px solid white !important;
}

.error {
    border: 1px solid red !important;
}

.helperTextRoot {
    background: red;
    padding: 4px 12px;
    font-family: Inter !important;
    font-size: 11px !important;
    line-height: 16px;
    border-radius: 4px;
    opacity: 1;
    color: #FFFFFF !important;
    position: absolute;
    bottom  : -23px;
}

.helperTextRoot::before {
    content : '';
    color: transparent !important;
    overflow: hidden;
    width: 0px;
    height: 0px;
    border: 7px solid red;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    background: transparent;
    position: absolute;
    bottom: 18px;
    left: 9px;
}
